body {
    font-family: Arial;
    margin: 0;
    background: #d8f2ffee;
}

header {
    background: #094293;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background: #094293;
    padding: 10px;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background: #3c81e1;
    color: white;
    cursor: pointer;
}

nav button:hover {
    background: #3c81e1;
}

.seccion {
    padding: 20px;
}

.oculto {
    display: none;
}

.form {
    margin-bottom: 20px;
}

.form input, .form select {
    padding: 8px;
    margin: 5px;
}

.form button {
    padding: 10px;
    background: #3c81e1;
    color: white;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #3c81e1;
    color: white;
}
